<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state.description %>
</p>
<strong>Regions</strong>
</br>
<% @state.regions.each do |r| %>
  <% gotohere = "/#{@state.slug}/#{r.slug}" %>
  <%= link_to r.name, gotohere %></br>
<% end %>

 |
<%= link_to 'home', "/" %> |
<p>
<% if current_user %>
	<%= link_to 'Edit', edit_state_path(@state) %>
	<%= link_to 'New Region', "#{new_region_path}?state=#{params[:state_slug]}" %>
<% end %>