<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @state.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @state.description %>
</p>
<strong>Regions</strong>
</br>
<% @state.regions.each do |r| %>
  <% gotohere = "/#{@state.slug}/#{r.slug}" %>
  <%= link_to r.name, gotohere %></br>
<% end %>

 |
<%= link_to 'home', "/" %> |
