<h1>Listing regions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>State</th>
      <th>Parks</th>
      <th>Campsites</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @regions.each do |region| %>
      <tr>
        <td><%= link_to "#{region.name}", "/#{region.state.slug}/#{region.slug}" %></td>
        <td><%= region.description %></td>
        <td><%= region.state_id %></td>
        <td><% region.parks.each do |park| %>
              <%= park.name %>
                <% end %> %></td>
        <td><% region.campsites.each do |campsite| %>
              <%= campsite.name %>
                <% end %> %></td>
        <td><%= link_to 'Show', region %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Region', new_region_path %>
