<p id="notice"><%= notice %></p>
<p>
  <strong>State:</strong>
  <%= @region.state.name %>
</p>
<p>
  <strong>Region:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<p>
  <strong>State:</strong>
  <%= @region.state_id %>


</p>
<p>
  <strong>Parks</strong>
  <% @region.parks.each do |park| %>
  	<%= link_to "#{park.name}", "/#{@region.state.slug}/#{@region.slug}/park/#{park.slug}" %>
  <% end %>
  
</p>
<p>
  <strong>Campsites</strong>
  <% @region.campsites.each do |campsite| %>
  	<%= link_to "#{campsite.name}", "/#{@region.state.slug}/#{@region.slug}/#{campsite.slug}"  %>
  <% end %>
  
</p>
<p>
<%= link_to 'New Park', "#{new_park_path}?region=#{params[:region_slug]}" %>
<p>
<%= link_to 'New Campsite', "#{new_campsite_path}?region=#{params[:region_slug]}" %>
<p>
<%= link_to 'Back', "/#{@region.state.slug}" %>

