<h1>Listing campsites</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>State</th>
      <th>Region</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @campsites.each do |campsite| %>
      <tr>
        <td><%= link_to "#{campsite.name}", campsite %></td>
        <td><%= campsite.description %></td>
        <td><%= campsite.state_id %></td>
        <td><%= campsite.region_id %></td>
        <td><%= link_to 'Show', campsite %></td>
        <td><%= link_to 'Edit', edit_campsite_path(campsite) %></td>
        <td><%= link_to 'Destroy', campsite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campsite', new_campsite_path %>
