<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campsite.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campsite.description %>
</p>


<p>
  <strong>Region:</strong>
  <%= @campsite.region.name%>
</p>
<% if current_user.email = "bananahammock2@gmail.com" %>
	<%= link_to 'Edit', edit_campsite_path(@campsite) %> |
	<%= link_to 'Back', campsites_path %>
<% end %>
