<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @campsite.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @campsite.description %>
</p>

<% if @campsite.park %>
  <p>
    <strong>Park</strong>
    <%= @campsite.park.name %>
  </p>
<% end %>


<p>
  <strong>Region:</strong>
  <%= @campsite.region.name%>
</p>

<% if 'a' == 'a' %>
	<%= link_to 'Edit', edit_campsite_path(@campsite) %> |
	<% if @campsite.park_id %>
    <%= link_to 'Back', "/#{@campsite.park.region.state.slug}/#{@campsite.park.region.slug}/park/#{@campsite.park.slug}" %>
  <% else %>
    <%= link_to 'Back', "/#{@campsite.region.state.slug}/#{@campsite.region.slug}" %>
  <% end %>
<% end %>
